<div class="card-header bg-dark">
  <h1 class="font-weight-bold cursive text-white text-center">Rock Paper Scissor</h1>
</div>
<div class="container text-center">
  
  <div class="row">
    
    <div class="col-sm-6 p-4">
      <div class="card border-0">
        <div  class="card-header bg-primary text-white">
          <h1><span class="fa fa-user-o "></span></h1>
           <h5 class="font-weight-bold cursive font-italic">Player</h5>
        </div>
        <div class="card-body">
            <button id="playerRock" class="btn m-4"  matTooltip="Rock" (click)="play('rock')"
              [ngClass]="playerRock ? 'btn-outline-success' : playerRock === false? 'btn-outline-danger' : 'btn-outline-secondary'">
              <h1 style="font-size: 5em;"><span class="fa fa-hand-rock-o" ></span></h1>
            </button>
            <button id="playerPaper" class="btn m-4" matTooltip="Paper" (click)="play('paper')"
              [ngClass]="playerPaper ? 'btn-outline-success' : playerPaper === false? 'btn-outline-danger' : 'btn-outline-secondary'">
              <h1 style="font-size: 5em;"><span class="fa fa-hand-paper-o"></span></h1>
            </button>
            <button id="playerScissor" class="btn m-4" matTooltip="Scissor" (click)="play('scissor')"
              [ngClass]="playerScissor ? 'btn-outline-success' : playerScissor === false? 'btn-outline-danger' : 'btn-outline-secondary'">
              <h1 style="font-size: 5em;"><span class="fa fa-hand-scissors-o"></span></h1>
            </button>
        </div>
        <div class="card-footer text-left bg-secondary">
          <h2 class="cursive font-weight-bold text-white">Score : {{userScore}}</h2>
        </div>
      </div>
    </div>
    <div class="col-sm-6 p-4">
      <div class="card border-0">
        <div class="card-header bg-warning text-white">
          <h1>
            <span class="fa fa-terminal"></span>
          </h1>
          <h5 class="font-weight-bold cursive font-italic">Computer</h5>
        </div>
        <div class="card-body">
          <button id="compRock" class="btn m-4" disabled 
            [ngClass]="compRock ? 'btn-outline-success' : compRock === false? 'btn-outline-danger' : 'btn-outline-secondary'">
            <h1 style="font-size: 5em;"><span class="fa fa-hand-rock-o" ></span></h1>
          </button>
          <button id="compPaper" class="btn m-4" disabled
            [ngClass]="compPaper ? 'btn-outline-success' : compPaper === false? 'btn-outline-danger' : 'btn-outline-secondary'">
            <h1 style="font-size: 5em;"><span class="fa fa-hand-paper-o"></span></h1>
          </button>
          <button id="compScissor" class="btn m-4" disabled
            [ngClass]="compScissor ? 'btn-outline-success' : compScissor === false? 'btn-outline-danger' : 'btn-outline-secondary'">
            <h1 style="font-size: 5em;"><span class="fa fa-hand-scissors-o"></span></h1>
          </button>
      </div>
        <div class="card-footer text-left bg-secondary">
          <h2 class="cursive font-weight-bold text-white">Score : {{compScore}}</h2>
        </div>
      </div>
    </div>
  </div>

<div class="mb-3">
  <button mat-button matTooltip="Restart" (click)="restart()"
  class="btn-success rounded rounded-circle" ><mat-icon >refresh</mat-icon></button>
</div>

</div>